<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Warframe API reformat</title>
</head>

<body>
  <h1>Warframes</h1>
  <ul>
    <% links.map ( result => { %>
    <li>
      <a href=<%= result.url %> target=" __blank">
        <%= result.name %>
      </a>
    </li>
    <% }) %>
  </ul>
</body>

</html>